*{
    margin: 0;
    padding: 0;
}


.container{
    height:fit-content;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    
    
    
}
.box-1{
    height: 220px;
    width:1150px;
    display: inline-flexbox;
    background-color:rgb(227, 227, 24);
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left:15px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    border-image-width: 200px;

}

img{
    height: 200px;

}

#box-2{
    height: 220px;
    width:1150px;
    display:inline-flexbox;
    background-color:teal;
    padding-bottom: 15px;
    margin-left:15px;
    padding-right: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    border-image-width: 200px;

}

#box-3{
    height: 220px;
    width:1150px;
    display:inline-flexbox;
    background-color:rgba(239, 68, 6, 0.77);
    margin-bottom: 15px;
    margin-left: 15px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    border-image-width: 200px;
}

h2{
    text-align: center;
}